@page
@{
    ViewData["Title"] = "NotFound";
}

<jumbotron>
    <h1 class="display-4">Not Found</h1>
    <hr class="my-4" />
    <p class="lead">The question you attempted to access was not found</p>
    <hr />
    <a asp-page="./List" class="btn btn-success">See All Questions</a>
</jumbotron>