<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MScApp</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--JQuery-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!--DataTables JQuery PlugIn-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <!--Countdown JQuery PlugIn-->
    <script src="~/lib/jquery.countdown/jquery.countdown.js"></script>
    <!--Google Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Custom CSS-->
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <header>
        <nav class="navigation border-bottom box-shadow mb-3">
            <div>
                <a asp-page="/Index">
                    <img class="navImage" src="~/img/logo.png" loading="lazy">
                </a>
                <ul class="navList">

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="navLi">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Questions/Pages/List">Questions</a>
                        </li>
                        <li class="navLi">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ApTest/Pages/TestList">Tests</a>
                        </li>
                        <li class="navLi">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ApTest/Pages/ApTestResults">Test Results</a>
                        </li>
                    }
                    else
                    {
                        <li class="navLi">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ApTest/Pages/ApTestHome">Aptitude Test</a>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>

        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MScApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)

</body>
</html>
