@page
@model MScApp.Pages.ApTest.Pages.InvalidTestAttemptModel
@{
}

<div class="alert alert-danger" role="alert">
    <h3 class="alert-heading">Test Already Taken</h3>

    <hr>
    <p>You have already submitted results for this test.</p>
    <a class="btn btn-success btn-lg " asp-page="./ApTestHome">Test Home</a>
</div>

