@page
@model MScApp.Pages.ApTest.Pages.TestCompleteModel
@{
    ViewData["Title"] = "Complete";
}
<jumbotron>
    <div class="alert alert-success">
        <h3>Test Submitted</h3>
        <hr />
        <p class="lead">Thanks for taking the test, your answers have been successfully submitted.</p>
    </div>
</jumbotron>
